
<link rel="stylesheet" href="/style.css">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach((pro, index) => { %>
        <tr>
            <td><%= pro.name %></td>
            <td id="price-<%= index %>"><%= pro.price %></td>
            <td>
                <input type="number" name="quantity-<%= index %>" value="<%= pro.quantity %>" oninput="updateQuantity(this)">
            </td>
            <td>
                <button id="btn5" type="button" onclick="deleteProduct(this)">Delete</button>
            </td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td id="total-amount">Rs.0</td>
        </tr>
    </tfoot>
</table>

<div class="order">
<a href="/order">Place Order</a>
</div>

<script src="/1.js"></script> 